# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - silaporrt-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout
      
    defaults:
      run:
        working-directory: backend
        
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        run: |
          npm ci
          npm run build --if-present
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: silaport-backend
          path: backend
          include-hidden-files: true

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: silaport-backend
          path: ./deploy
          
      - name: List deployment files
        run: |
          pwd
          ls -la
          ls -la ./deploy
          ls -la ./deploy/node_modules
          ls -la ./deploy/node_modules/.prisma/client || echo "No .prisma/client found"
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_82967D9743B249889E87EED13E93A9D5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E67892B618614501B9B01724A3474E39 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5ACC423A06BB4305BFC7D710DD11623B }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'silaporrt-backend'
          slot-name: 'Production'
          package: ./deploy

          


